@font-face {
    font-family: 'Pilseung Gothic';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/PilseungGothic/PilseungGothic.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/PilseungGothic/PilseungGothic.ttf') format('truetype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/PilseungGothic/PilseungGothic.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/PilseungGothic/PilseungGothic.woff2') format('woff2');
}
